@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@plugin "daisyui";
* {
  font-family: "Poppins", sans-serif;
  scrollbar-width: none;
}

#root {
  background: #04003b;
  background: -webkit-linear-gradient(
    90deg,
    rgba(4, 0, 59, 1) 0%,
    rgba(2, 2, 79, 1) 35%,
    rgba(3, 126, 150, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    rgba(4, 0, 59, 1) 0%,
    rgba(2, 2, 79, 1) 35%,
    rgba(3, 126, 150, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(4, 0, 59, 1) 0%,
    rgba(2, 2, 79, 1) 35%,
    rgba(3, 126, 150, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#04003B",
  endColorstr="#037E96",
  GradientType=1
);
}
.hero-title {
  color: transparent;
  -webkit-text-stroke: 3px #cf12a0; /* width and color of the outline */
}
.nav-title {
  font-family: "Pacifico", cursive;
  font-weight: 700;
}
